/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
}

.mainpage__title {
  color: #333a40;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mainpage__body {
  margin-left: 4vw;
  margin-right: 4vw;
}
