/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
}

.mainpage__title {
  color: #333a40;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.2rem;
  margin-bottom: 2rem;
}

.mainpage__body {
  margin-left: 4vw;
  margin-right: 4vw;
}

.searchbar__container {
  width: 100%;
  position: relative;
}

.searchbar__label {
  color: #2a2a2a;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 400;
}

.searchbar__input {
  width: 40%;
  height: 2.5rem;
  border: 1px solid #a8a8a8;
  border-radius: 5px;
  margin: 0.2rem;
  padding-left: 0.5rem;
}

.searchbar__button {
  width: 125px;
  height: 2.5rem;
  color: #f2f2f2;
  background-color: #378a0c;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
}

.searchbar__button:hover {
  background-color: #3d990f;
  color: #f3f3f3;
  font-weight: 600;
}

.campers__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1rem;
  line-height: 1.2rem;
  color: #2a2a2a;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.camperitem__container {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.image__container {
  width: 30%;
  height: 30%;
}

.camperinfo__container {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.camper__info-text {
  color: #88959f;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
}

.camper__info-name {
  color: #111;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
}

.score__container {
  display: flex;
  flex-direction: row;
}

.score__price {
  margin-right: 12px;
  font-weight: 600;
  font-size: 0.9rem;
}

.score__rating {
  color: #88959f;
  font-size: 0.8rem;
  font-weight: 600;
  margin-left: 3px;
}
